nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 8px;
}

nav ul li {
  margin: 0 20px;
}

.logo-text {
  font-size: 2.4em;
  font-weight: 700;
  color: #f05136;
}

.nav-link {
  font-size: 1em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-link:hover {
  color: #f05136;
}
